spieceasi {
    method = "{{ spieceasi['method'] }}"
    ncpus = {{ spieceasi['ncpus'] }}
    nreps = {{ spieceasi['nreps'] }}
    nlambda = {{ spieceasi['nlambda'] }}
    lambda_min_ratio = {{ spieceasi['lambda_min_ratio'] }}
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"

    method = spieceasi.method
    ncpus = spieceasi.ncpus
    nreps = spieceasi.nreps
    nlambda = spieceasi.nlambda
    lambda_min_ratio = spieceasi.lambda_min_ratio
}

process.conda = "{{ env }}"

process {
    withName: spieceasi {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
