pick_closed_reference_otus {
    ncpus = {{ pick_closed_reference_otus['ncpus'] }} // 4
    parameters = "{{ pick_closed_reference_otus['parameters'] }}" // "qiime1_parameters.txt"
    reference_sequences = "{{ pick_closed_reference_otus['reference_sequences'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"

    ncpus = pick_closed_reference_otus.ncpus
    parameters = pick_closed_reference_otus.parameters
    reference_sequences = pick_closed_reference_otus.reference_sequences
}

process.conda = "{{ env }}"

process {
    withName: pick_closed_reference_otus {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
