// Process specific configuration
includeConfig './configs/process.config'

// Module specific configuration
includeConfig './configs/denoise_cluster.config'
includeConfig './configs/tax_assignment.config'
includeConfig './configs/otu_processing.config'
includeConfig './configs/network_inference.config'

// User configuration
// Refer: documentation for details

params {

}
