group_by_taxa {
    tax_levels = "{{ group_by_taxa['tax_levels'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"
    tax_levels = group_by_taxa.tax_levels
}

env {
    PYTHONPATH = "/home/dileep/Documents/boston_university/mindpipe"
}

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}
