group_by_taxa {
    rm_sparse_otu = "{{ group_by_taxa['rm_sparse_otu'] }}"
    rm_sparse_samples = "{{ group_by_taxa['rm_sparse_samples'] }}"
    tax_levels = "{{ group_by_taxa['tax_levels'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"
    sample_metadata = "{{ input['sample_metadata'] }}"
    lineagedata = "{{ input['lineage_table'] }}"
    rm_sparse_otu = group_by_taxa.rm_sparse_otu
    rm_sparse_samples = group_by_taxa.rm_sparse_samples
    tax_levels = group_by_taxa.tax_levels
}

env {
    PYTHONPATH = "/home/dileep/Documents/boston_university/microbial-interaction-database/"
}

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}