// -*- mode: groovy -*-

params {
    denoise_cluster {
        otu_assignment {
            selection = [
                "closed_reference",
                "open_reference",
                "de_novo",
                "dada2",
                "deblur"
            ]
            // Closed reference workflow
            'closed_reference' {
                ncpus = 1
                parameters = "nf_micone/data/qiime1_parameters.txt"
                reference_sequences = "nf_micone/data/rep_set/97_otus.fasta"
            }
            // Open reference workflow
            'open_reference' {
                ncpus = 1
                parameters = "nf_micone/data/qiime1_parameters.txt"
                reference_sequences = "nf_micone/data/rep_set/97_otus.fasta"
                picking_method = "uclust"
            }
            // De novo workflow
            'de_novo' {
                ncpus = 1
                parameters = "nf_micone/data/qiime1_parameters.txt"
            }
            // Dada2 workflow
            'dada2' {
                ncpus = 1
                big_data = "FALSE"
            }
            // Deblur workflow
            'deblur' {
                ncpus = 1
                min_reads = 2
                min_size = 2
            }
        }
        chimera_checking {
            selection = [
                "remove_bimera",
                "uchime"
            ]
            'remove_bimera' {
                ncpus = 1
                chimera_method = "consensus"
            }
            // 'uchime' {}
        }
    }
}
