// vim:ft=groovy
// -*- mode: groovy -*-

params {
    network_inference {
        bootstrap {
            'resample' {
                bootstraps = 1000
                ncpus = 1
            }
            'pvalue' {
                slim = false
                ncpus = 1
            }
        }
        correlation {
            selection = ['sparcc', 'pearson', 'spearman', 'propr']
            'sparcc' {
                iterations = 50
                ncpus = 1
            }
            'pearson' {
                ncpus = 1
            }
            'spearman' {
                ncpus = 1
            }
            'propr' {
                ncpus = 1
            }
        }
        direct {
            selection = ['spieceasi', 'flashweave', 'mldm', 'cozine', 'harmonies', 'spring']
            'spieceasi' {
                method = "mb"
                ncpus = 1
                nreps = 50
                nlambda = 20
                lambda_min_ratio = 1e-2
            }
            'flashweave' {
                ncpus = 1
                sensitive = "true"
                heterogeneous = "false"
                fdr_correction = "true"
            }
            'mldm' {
                Z_mean = 1
                max_iteration = 1500
            }
            'cozine' {
                lambda_min_ratio = 0.1  // NOTE: function uses 0.5
            }
            'harmonies' {
                iterations = 10000
                sparsity_cutoff = 0.5
            }
            'spring' {
                ncpus = 1
                nlambda = 20
                lambda_min_ratio = 0.01
            }
        }
        network {
            'make_network_with_pvalue' {
                interaction_threshold = 0.3
                pvalue_threshold = 0.05
                metadata_file = ""
            }
            'make_network_without_pvalue' {
                interaction_threshold = 0.3
                metadata_file = ""
            }
            'merge_pvalues' {
                id_field = "taxid"
            }
            'create_consensus' {
                method = 'scaled_sum'
                parameter = 0.3
                pvalue_filter = "true"
                interaction_filter = "true"
                id_field = "taxid"
            }
        }
    }
}
