// -*- mode: groovy -*-

/*
* Reference for useful snippets:
    publishDir "${params.output_dir}/${f[0]}/${f[1]}/${f[2]}/${meta.id}",
        saveAs: { filename -> filename.split("/")[1] },
        mode: 'copy',
        overwrite: true

    String task_process = "${task.process}"
    f = getHierarchy(task_process)
*/

params {
    network_inference {
        bootstrap {
            'resample' {
                bootstraps = 1000
                ncpus = 1
            }
            'pvalue' {
                ncpus = 1
            }
        }
        correlation {
            selection = ['sparcc', 'pearson', 'spearman', 'propr']
            'sparcc' {
                iterations = 50
                ncpus = 1
            }
            'pearson' {
                ncpus = 1
            }
            'spearman' {
                ncpus = 1
            }
            'propr' {
                ncpus = 1
            }
        }
        direct {
            selection = ['spieceasi', 'flashweave', 'mldm']
            'spieceasi' {
                method = "mb"
                ncpus = 1
                nreps = 50
                nlambda = 20
                lambda_min_ratio = 1e-2
            }
            'flashweave' {
                ncpus = 1
                sensitive = "true"
                heterogeneous = "false"
                fdr_correction = "true"
            }
            'mldm' {
                Z_mean = 1
                max_iteration = 1500
            }
        }
        network {
            'make_network_with_pvalue' {}
            'make_network_without_pvalue' {}
        }
    }
}
