// vim:ft=groovy
// -*- mode: groovy -*-

params {
    otu_processing {
        // export {
        //     'biom2tsv' {}
        // }
        transform {
            'fork' {
                axis = "sample"
                column = ""
            }
            'group' {
                tax_levels = ['Phylum', 'Class', 'Order', 'Family', 'Genus', 'Species']
            }
            // NOTE: Set axis to "None" to disable normalization
            // NOTE: Set to false to disable filtering
            'normalize_filter' {
                axis = "None"
                count_thres = 500
                prevalence_thres = 0.05
                abundance_thres = 0.01
                obssum_thres = 100
                rm_sparse_obs = [true, false]
                rm_sparse_samples = true
            }
        }
    }
}
