// vim:ft=groovy
// -*- mode: groovy -*-

// Manifest
manifest {
    name            = 'micone'
    author          = 'Dileep Kishore'
    homePage        = 'https://github.com/segrelab/MiCoNE'
    description     = 'A pipeline for 16S'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '1.0'
}

// Process specific configuration
process {
    cache = 'lenient'
    withLabel: 'dada2' {
        conda = "${params.conda_dir}/micone-dada2"
    }
    withLabel: 'flashweave' {
        conda = "${params.conda_dir}/micone-flashweave"
        time = '8hours'
    }
    withLabel: 'mldm' {
        conda = "${params.conda_dir}/micone-mldm"
        time = '4hours'
    }
    withLabel: 'cozine' {
        conda = "${params.conda_dir}/micone-cozine"
        time = '8hours'
    }
    withLabel: 'harmonies' {
        conda = "${params.conda_dir}/micone-harmonies"
        time = '8hours'
    }
    withLabel: 'spring' {
        conda = "${params.conda_dir}/micone-spring"
        time = '8hours'
    }
    withLabel: 'propr' {
        conda = "${params.conda_dir}/micone-propr"
        time = '8hours'
    }
    withLabel: 'qiime2' {
        conda = "${params.conda_dir}/micone-qiime2"
    }
    withLabel: 'sparcc' {
        conda = "${params.conda_dir}/micone-sparcc"
        time = '8hours'
    }
    withLabel: 'spieceasi' {
        conda = "${params.conda_dir}/micone-spieceasi"
        time = '8hours'
    }
    withName: 'naive_bayes' {
        memory = "${params.naive_bayes_memory}"
    }
    errorStrategy = "${params.errorStrategy}"
}

// Reporting, timeline, trace and dag
report {
    enabled = true
    file = "report.html"
}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}

dag {
    enabled = true
    file = "dag.html"
}

env {
    LC_ALL = "en_US.utf8"
    LANG = "en_US.utf8"
}
