// -*- mode: groovy -*-

// Manifest
manifest {
    name            = 'micone'
    author          = 'Dileep Kishore'
    homePage        = 'https://github.com/segrelab/MiCoNE'
    description     = 'A pipeline for 16S'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '1.0'
}

// Process specific configuration
process {
    withLabel: 'dada2' {
        conda = "${params.conda_dir}/micone-dada2"
    }
    withLabel: 'flashweave' {
        conda = "${params.conda_dir}/micone-flashweave"
    }
    withLabel: 'mldm' {
        conda = "${params.conda_dir}/micone-mldm"
    }
    withLabel: 'netcomi' {
        conda = "${params.conda_dir}/micone-netcomi"
    }
    withLabel: 'propr' {
        conda = "${params.conda_dir}/micone-propr"
    }
    withLabel: 'qiime1' {
        conda = "${params.conda_dir}/micone-qiime1"
    }
    withLabel: 'qiime2' {
        conda = "${params.conda_dir}/micone-qiime2"
    }
    withLabel: 'sparcc' {
        conda = "${params.conda_dir}/micone-sparcc"
    }
    withLabel: 'spieceasi' {
        conda = "${params.conda_dir}/micone-spieceasi"
    }
    withName: 'naive_bayes' {
        memory = '32 GB'
    }
}

// Reporting, timeline, trace and dag
report {
    enabled = true
    file = "report.html"
}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}

dag {
    enabled = true
    file = "dag.html"
}

env {
    LC_ALL = "en_US.utf8"
    LANG = "en_US.utf8"
}
