// -*- mode: groovy -*-

// Process specific configuration
process {
    withLabel: 'dada2' {
        conda = "/home/dileep/anaconda3/envs/micone-dada2"
    }
    withLabel: 'flashweave' {
        conda = "/home/dileep/anaconda3/envs/micone-flashweave"
    }
    withLabel: 'mldm' {
        conda = "/home/dileep/anaconda3/envs/micone-mldm"
    }
    withLabel: 'netcomi' {
        conda = "/home/dileep/anaconda3/envs/micone-netcomi"
    }
    withLabel: 'propr' {
        conda = "/home/dileep/anaconda3/envs/micone-propr"
    }
    withLabel: 'qiime1' {
        conda = "/home/dileep/anaconda3/envs/micone-qiime1"
    }
    withLabel: 'qiime2' {
        conda = "/home/dileep/anaconda3/envs/micone-qiime2"
    }
    withLabel: 'sparcc' {
        conda = "/home/dileep/anaconda3/envs/micone-sparcc"
    }
    withLabel: 'spieceasi' {
        conda = "/home/dileep/anaconda3/envs/micone-spieceasi"
    }
}

// Reporting, timeline, trace and dag
report {
    enabled = true
    file = "report.html"
}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}

dag {
    enabled = true
    file = "dag.html"
}

env {
    LC_ALL = "en_US.utf8"
    LANG = "en_US.utf8"
}



// process {
//     withName: spieceasi {
//         clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
//     }
// }
