// vim:ft=groovy
// -*- mode: groovy -*-

// TODO: Profile related config

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        // process.queue = 'long'
        process.memory = '16GB'
        process.scratch = true
        process.clusterOptions = "-P ${params.project} -l h_rt=24:00:00"
    }

    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
        docker.enabled = true
    }

}

// process {
//     withName: spieceasi {
//         clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
//     }
// }
