// -*- mode: groovy -*-

// TODO: Profile related config

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '10GB'
        process.scratch = true
    }

    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
        docker.enabled = true
    }

}

// process {
//     withName: spieceasi {
//         clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
//     }
// }
