// vim:ft=groovy
// -*- mode: groovy -*-

params {
    sequence_processing {
        // Demultiplexing illumina workflow
        demultiplexing {
            'demultiplexing_illumina_single' {
                barcode_column = "barcode-sequence"
                rev_comp_barcodes = false
                rev_comp_mapping_barcodes = false
            }
            'demultiplexing_illumina_paired' {
                barcode_column = "barcode-sequence"
                rev_comp_barcodes = false
                rev_comp_mapping_barcodes = false
            }
            'export_sequences' {
                sample_filter = ""
            }
        }
        // Trim filter workflow
        trimming {
            'export_visualization_single' {
                seq_samplesize = 10000
            }
            'trimming_single' {
                ncpus = 1
                max_ee = 2
                trunc_q = 2
            }
            'export_visualization_paired' {
                seq_samplesize = 10000
            }
            'trimming_paired' {
                ncpus = 1
                max_ee = 2
                trunc_q = 2
            }
        }
    }
}
