// -*- mode: groovy -*-

params {
    sequence_processing {
        // Demultiplexing illumina workflow
        demultiplexing {
            'demultiplexing_illumina_single' {
                rev_comp_barcodes = "False"
                rev_comp_mapping_barcodes = "False"
            }
            'demultiplexing_illumina_paired' {
                rev_comp_barcodes = "False"
                rev_comp_mapping_barcodes = "False"
            }
        }
        // Trim filter workflow
        trimming {
            'export_visualization_single' {
                seq_samplesize = 10000
            }
            'trimming_single' {
                ncpus = 1
                max_ee = 2
                trunc_q = 2
            }
            'export_visualization_paired' {
                seq_samplesize = 10000
            }
            'trimming_paired' {
                ncpus = 1
                max_ee = 2
                trunc_q = 2
            }
        }
    }
}
