// vim:ft=groovy
// -*- mode: groovy -*-

params {
    tax_assignment {
        assign {
            selection = ['naive_bayes', 'blast']
            // NOTE: The classifiers for naive_bayes are .qza files
            'naive_bayes' {
                classifier = ["${PWD}/nf_micone/data/classifiers/gg_13_8_99_515_806.qza"]
                confidence = 0.7
                ncpus = 1
            }
            // NOTE: 1. The references and tax_map for blast are .qza files
            //       2. The references must be a folder containing "refseqs.qza" and "taxonomy.qza"
            'blast' {
                references = ["${PWD}/nf_micone/data/databases/ncbi/ncbi"]
                max_accepts = 10
                perc_identity = 0.8
                evalue = 0.001
                min_consensus = 0.51
            }
        }
    }
}
