// -*- mode: groovy -*-

params {
    tax_assignment {
        assign {
            selection = ['naive_bayes', 'blast']
            // NOTE: The classifiers for naive_bayes are .qza files
            'naive_bayes' {
                classifier = "${PWD}/nf_micone/data/classifiers/gg-13-8-99-515-806-nb-classifier.qza"
                confidence = 0.7
                ncpus = 1
            }
            // NOTE: The references and tax_map for blast are .qza files
            'blast' {
                reference_sequences = ""
                tax_map = ""
                max_accepts = 10
                perc_identity = 0.8
                evalue = 0.001
                min_consensus = 0.51
            }
        }
    }
}
