repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3
      exclude: micone/pipelines/src
      exclude: micone/pipelines/templates
