[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
"jinja2" = "*"
dask = "*"
cloudpickle = "*"
biom-format = "*"
"ete3" = "*"
"h5py" = "*"
statsmodels = "*"
networkx = "*"
toml = "*"
schematics = "*"
"jinja2schema" = "*"

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
coverage = "*"
sphinx = "*"
pytest = "*"
pytest-runner = "*"
ipython = "*"
pylint = "*"
mypy = "*"
numpydoc = "*"
pytest-cov = "*"
codecov = "*"
travis-sphinx = "*"
sphinx-rtd-theme = "*"
python-language-server = "*"

[requires]
python_version = "3.6"
