[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
cython = "*"
pandas = "*"
"jinja2" = "*"
biom-format = "*"
"ete3" = "*"
"h5py" = "*"
statsmodels = "*"
networkx = "*"
toml = "*"
schematics = "*"
"jinja2schema" = "*"
click = "*"
halo = "*"
loguru = "*"
matplotlib = "*"
pygraphviz = "*"
simplejson = "*"

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
coverage = "*"
sphinx = "*"
pytest = "*"
pytest-runner = "*"
ipython = "*"
numpydoc = "*"
pytest-cov = "*"
codecov = "*"
travis-sphinx = "*"
sphinx-rtd-theme = "*"
python-language-server = "*"
black = "==19.10b0"
pre-commit = "*"
pylint = "*"
mypy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
