-i https://pypi.org/simple
ansimarkup==1.4.0
better-exceptions-fork==0.2.1.post6
biom-format==2.1.7
click==7.0
colorama==0.3.9
cursor==1.2.0
cycler==0.10.0
decorator==4.3.2
enum34==1.1.6
ete3==3.1.1
future==0.17.1
h5py==2.9.0
halo==0.0.23
jinja2==2.10
jinja2schema==0.1.4
kiwisolver==1.0.1
log-symbols==0.0.12
loguru==0.2.5
markupsafe==1.1.0
matplotlib==3.0.2
networkx==2.2
numpy==1.16.1
pandas==0.24.1
patsy==0.5.1
pygments==2.3.1
pygraphviz==1.5
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
schematics==2.1.0
scipy==1.2.0
six==1.11.0
spinners==0.0.23
statsmodels==0.9.0
termcolor==1.1.0
toml==0.10.0
