-i https://pypi.org/simple
alabaster==0.7.11
argh==0.26.2
astroid==2.0.4
atomicwrites==1.1.5
attrs==18.1.0
babel==2.6.0
backcall==0.1.0
bleach==2.1.4
bumpversion==0.5.3
certifi==2018.8.13
chardet==3.0.4
click==6.7
codecov==2.0.15
coverage==4.5.1
decorator==4.3.0
docutils==0.14
entrypoints==0.2.3
flake8==3.5.0
ghp-import==0.5.5
html5lib==1.0.1
idna==2.7
imagesize==1.0.0
ipykernel==4.8.2
ipython-genutils==0.2.0
ipython==6.5.0
ipywidgets==7.4.0
isort==4.3.4
jedi==0.12.1
jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter==1.0.0
lazy-object-proxy==1.3.1
markupsafe==1.0
mccabe==0.6.1
mistune==0.8.3
more-itertools==4.3.0
mypy==0.620
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.6.0
numpydoc==0.8.0
packaging==17.1
pandocfilters==1.4.2
parso==0.3.1
pathtools==0.1.2
pexpect==4.6.0; sys_platform != 'win32'
pickleshare==0.7.4
pluggy==0.7.1; python_version != '3.3.*'
prometheus-client==0.3.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0; os_name != 'nt'
py==1.5.4
pycodestyle==2.3.1
pyflakes==1.6.0
pygments==2.2.0
pylint==2.1.1
pyparsing==2.2.0
pytest-cov==2.5.1
pytest-runner==4.2
pytest==3.7.2
python-dateutil==2.7.3
pytz==2018.5
pyyaml==3.13
pyzmq==17.1.2; python_version != '3.2*'
qtconsole==4.4.1
requests==2.19.1
send2trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
sphinx==1.7.7
sphinxcontrib-websupport==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1
traitlets==4.3.2
travis-sphinx==2.2.1
typed-ast==1.1.0; python_version < '3.7' and implementation_name == 'cpython'
urllib3==1.23
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
wheel==0.31.1
widgetsnbextension==3.4.0
wrapt==1.10.11
