-i https://pypi.org/simple
alabaster==0.7.12
appdirs==1.4.3
argh==0.26.2
aspy.yaml==1.2.0
astroid==1.6.6
atomicwrites==1.3.0
attrs==19.1.0
babel==2.6.0
backcall==0.1.0
black==19.3b0
bumpversion==0.5.3
certifi==2019.3.9
cfgv==1.6.0
chardet==3.0.4
click==7.0
codecov==2.1.11
coverage==4.5.3
decorator==4.4.0
docutils==0.14
entrypoints==0.3
flake8==3.7.7
future==0.17.1
ghp-import==0.5.5
identify==1.4.1
idna==2.8
imagesize==1.1.0
importlib-metadata==0.9
importlib-resources==1.0.2 ; python_version < '3.7'
ipython-genutils==0.2.0
ipython==7.5.0
isort==4.3.17
jedi==0.13.3
jinja2==2.10.1
lazy-object-proxy==1.3.1
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==7.0.0 ; python_version > '2.7'
mypy-extensions==0.4.1
mypy==0.701
nodeenv==1.3.3
numpydoc==0.9.1
packaging==19.0
parso==0.4.0
pathtools==0.1.2
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pluggy==0.9.0
pre-commit==1.15.2
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
pygments==2.3.1
pylint==2.6.0
pyparsing==2.4.0
pytest-cov==2.6.1
pytest-runner==4.4
pytest==4.4.1
python-jsonrpc-server==0.1.2
python-language-server==0.26.1
pytz==2019.1
pyyaml==5.1
requests==2.21.0
six==1.11.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.4.3
sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
traitlets==4.3.2
travis-sphinx==2.2.1
typed-ast==1.3.4
urllib3==1.24.2
virtualenv==16.5.0
watchdog==0.9.0
wcwidth==0.1.7
wheel==0.33.1
wrapt==1.11.1
zipp==0.3.3
