remove_chimeras {
    chimera_method = "{{ remove_chimeras['chimera_method'] }}"
    ncpus = "{{ remove_chimeras['ncpus'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    otu_table = "{{ input['otu_table'] }}"
    sequence_16s_representative = "{{ input['sequence_16s_representative'] }}"

    chimera_method = remove_chimeras.chimera_method
    ncpus = remove_chimeras.ncpus
}

process.conda = "{{ env }}"

process {
    withName: remove_chimeras {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
