dada2 {
    ncpus = {{ dada2['ncpus'] }}
    big_data = "{{ dada2['big_data']  }}"
}

params {
    output_dir = "{{ output_dir }}"
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"

    ncpus = dada2.ncpus
    big_data = dada2.big_data
}

process.conda = "{{ env }}"

process {
    withName: dada2 {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
