flashweave {
    ncpus = "{{ flashweave['ncpus'] }}"
    sensitive = {{ flashweave['sensitive'] }}
    heterogeneous = {{ flashweave['heterogeneous'] }}
    fdr_correction = {{ flashweave['fdr_correction'] }}
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"
    sample_metadata = "{{ input['sample_metadata'] }}"

    ncpus = flashweave.ncpus
    sensitive = flashweave.sensitive
    heterogeneous = flashweave.heterogeneous
    fdr_correction = flashweave.fdr_correction
}

process.conda = "{{ env }}"
