normalize {
    axis = "{{ normalize['axis'] }}"
    count_thres = "{{ normalize['count_thres'] }}"
    prevalence_thres = "{{ normalize['prevalence_thres'] }}"
    abundance_thres = "{{ normalize['abundance_thres'] }}"
    rm_sparse_obs = "{{ normalize['rm_sparse_obs'] }}"
    rm_sparse_samples = "{{ normalize['rm_sparse_samples'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"
    axis = normalize.axis
    count_thres = normalize.count_thres
    prevalence_thres = normalize.prevalence_thres
    abundance_thres = normalize.abundance_thres
    rm_sparse_obs = normalize.rm_sparse_obs
    rm_sparse_samples = normalize.rm_sparse_samples
}
