
// Compilation of commonly used profile combinations of executor and container engines

profiles {

    local {
        process.executor = "local"
    }

    sge {
        process.executor = "sge"
        process.clusterOptions = "-P {{ project }} -l h_rt=5:00:00"
        process.scratch = true
    }

    singularity {
        singularity.enabled = true
    }

    docker {
        docker.enabled = true
    }

    sge_sing {
        singularity.enabled = true
        process.executor = "sge"
    }

}

