


// Resources and reporting configuration

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}

env {
    LC_ALL = "en_US.utf8"
    LANG = "en_US.utf8"
}

process {
    // cpus = 2
    // memory = "4GB"
    errorStrategy = { task.attempt < 2 ? "retry" : "terminate" }
    maxRetries = 2
}

executor {
    $sge {
        queueSize = 100
    }
}

singularity {
    cacheDir = "$HOME/.singularity_cache"
    autoMounts = true
}

