params {
    correlations = "{{ input['correlation_table'] }}"
    pvalues = "{{ input['pvalue_table'] }}"
    sample_metadata = "{{ input['sample_metadata'] }}"
    lineagedata = "{{ input['lineage_table'] }}"
    childrendata = "{{ input['children_object'] }}"
    metadata = "{{ input['metadata'] }}"
    output_dir = "{{ output_dir }}"
}
