params {
    correlations = "{{ input['correlation_table'] }}"
    pvalues = "{{ input['pvalue_table'] }}"
    sample_metadata = "{{ input['sample_metadata'] }}"
    lineagedata = "{{ input['lineage_table'] }}"
    childrendata = "{{ input['children_object'] }}"
    metadata = "{{ input['metadata'] }}"
    output_dir = "{{ output_dir }}"
}

env {
    PYTHONPATH = "/home/dileep/Documents/boston_university/microbial-interaction-database/"
}

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}

process {
    $make_jsonnet_all {
        errorStrategy = 'ignore'
    }

    $make_jsonnet_otu {
        errorStrategy = 'ignore'
    }
}