join_reads {
    min_overlap = "{{ join_reads['min_overlap'] }}"
    perc_max_diff = "{{ join_reads['perc_max_diff'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    sequence_16s = "{{ input['sequence_16s'] }}"
    barcode = "{{ input['barcode'] }}"

    min_overlap = join_reads.min_overlap
    perc_max_diff = join_reads.perc_max_diff
}

process.conda = "{{ env }}"
