deblur {
    ncpus = {{ deblur['ncpus'] }}
    min_reads = {{ deblur['min_reads'] }}
    min_size = {{ deblur['min_size'] }}
}

params {
    output_dir = "{{ output_dir }}"
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"

    ncpus = deblur.ncpus
    min_reads = deblur.min_reads
    min_size = deblur.min_size
}

process.conda = "{{ env }}"

process {
    withName: deblur {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
