
// Resources and reporting configuration

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}

env {
    PYTHONPATH = "/home/dileep/Documents/boston_university/mindpipe"
}

process {
    // cpus = 1
    // memory = "1GB"
    errorStrategy = { task.attempt <= 3 ? "retry" : "terminate" }
    maxRetries = 3
}

executor {
    $local {
        cpus = 4
    }
}

singularity {
    cacheDir = "$HOME/.singularity_cache"
    autoMounts = true
}

