spieceasi {
    method = "{{ spieceasi['method'] }}"
    ncpus = {{ spieceasi['ncpus'] }}
    nreps = {{ spieceasi['nreps'] }}
    nlambda = {{ spieceasi['nlambda'] }}
    lambda_min_ratio = {{ spieceasi['lambda_min_ratio'] }}
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"
    otu_bootstrap = "{{ input['otu_bootstrap'] }}"

    method = spieceasi.method
    ncpus = spieceasi.ncpus
    nreps = spieceasi.nreps
    nlambda = spieceasi.nlambda
    lambda_min_ratio = spieceasi.lambda_min_ratio
}

process.conda = "{{ env }}"
