assign_taxonomy {
    reference_sequences = "{{ assign_taxonomy['reference_sequences'] }}"
    tax_map = "{{ assign_taxonomy['tax_map'] }}"
    max_accepts = {{ assign_taxonomy['max_accepts'] }}
    perc_identity = {{ assign_taxonomy['perc_identity'] }}
    evalue = {{ assign_taxonomy['evalue'] }}
    min_consensus = {{ assign_taxonomy['min_consensus'] }}
}

params {
    output_dir = "{{ output_dir}}"
    otu_table = "{{ input['otu_table'] }}"
    sequence_16s_representative = "{{ input['sequence_16s_representative'] }}"
    sample_metadata = "{{ input['sample_metadata'] }}"

    reference_sequences = assign_taxonomy.reference_sequences
    tax_map = assign_taxonomy.tax_map
    max_accepts = assign_taxonomy.max_accepts
    perc_identity = assign_taxonomy.perc_identity
    evalue = assign_taxonomy.evalue
    min_consensus = assign_taxonomy.min_consensus
}

process.conda = "{{ env }}"
