// -*- mode:groovy -*-
// vim:ft=groovy

params.conda_dir = ""
params.project = ""
params.naive_bayes_memory = '8 GB'
params.errorStrategy = "terminate"

// Process specific configuration
includeConfig './nf_micone/configs/process.config'
includeConfig './nf_micone/configs/profiles.config'

// Module specific configuration
includeConfig './nf_micone/configs/sequence_processing.config'
includeConfig './nf_micone/configs/denoise_cluster.config'
includeConfig './nf_micone/configs/tax_assignment.config'
includeConfig './nf_micone/configs/otu_processing.config'
includeConfig './nf_micone/configs/network_inference.config'

// User configuration
// Refer: documentation for details

params {
    input = "samplesheet.csv"
    output_dir = "outputs"
}
