demultiplex {
    rev_comp_barcodes = "{{ demultiplex['rev_comp_barcodes'] }}"
    rev_comp_mapping_barcodes = "{{ demultiplex['rev_comp_mapping_barcodes'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    sequence_16s = "{{ input['sequence_16s'] }}"
    barcode = "{{ input['barcode'] }}"
    sample_barcode_mapping = "{{ input['sample_barcode_mapping'] }}"

    rev_comp_barcodes = demultiplex.rev_comp_barcodes
    rev_comp_mapping_barcodes = demultiplex.rev_comp_mapping_barcodes
}

process.conda = "{{ env }}"
