params {
    correlations = "{{ input['interaction_table'] }}"
    obs_metadata = "{{ input['observation_metadata'] }}"
    children_map = "{{ input['children_map'] }}"
    cmetadata = "{{ input['computational_metadata'] }}"
    metadata = "{{ input['metadata'] }}"
    output_dir = "{{ output_dir }}"
}
