sparcc {
  iterations = {{ sparcc['iterations'] }}
  threads = {{ sparcc['threads'] }}
}

params {
  output_dir = "{{ output_dir }}"
  otudata = "{{ input['otu_table'] }}"
  otu_bootstrap = "{{ input['otu_bootstrap'] }}"

  iterations = sparcc.iterations
  threads = sparcc.threads
}

process.conda = "{{ env }}"
