filter {
    count_thres = "{{ filter['count_thres'] }}"
    prevalence_thres = "{{ filter['prevalence_thres'] }}"
    abundance_thres = "{{ filter['abundance_thres'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    otu_table = "{{ input['otu_table'] }}"

    count_thres = filter.count_thres
    prevalence_thres = filter.prevalence_thres
    abundance_thres = filter.abundance_thres
}
