export_visualization {
    seq_samplesize = {{ export_visualization['seq_samplesize'] }}
}

trimming {
    ncpus = {{ trimming['ncpus'] }}
}

params {
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"
    output_dir = "{{ output_dir }}"

    seq_samplesize = export_visualization.seq_samplesize
    ncpus = trimming.ncpus
}

process.conda = "{{ env }}"
