export_visualization {
    seq_samplesize = {{ export_visualization['seq_samplesize'] }}
}

trimming {
    ncpus = {{ trimming['ncpus'] }}
    max_ee = {{ trimming['max_ee'] }}
    trunc_q = {{ trimming['trunc_q'] }}
}

params {
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"
    output_dir = "{{ output_dir }}"

    seq_samplesize = export_visualization.seq_samplesize
    ncpus = trimming.ncpus
    max_ee = trimming.max_ee
    trunc_q = trimming.trunc_q
}

process.conda = "{{ env }}"

process {
    withName: trimming {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
