export_visualization {
    seq_samplesize = {{ export_visualization['seq_samplesize'] }}
}

trimming {
    ncpus = {{ trimming['ncpus'] }}
    front_adapter = {{ trimming['front_adapter'] }}
    tail_adapter = {{ trimming['tail_adapter'] }}
}

params {
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"
    output_dir = "{{ output_dir }}"

    seq_samplesize = export_visualization.seq_samplesize
    ncpus = trimming.ncpus
    front_adapter = trimming.front_adapter
    tail_adapter = trimming.tail_adapter
}

process.conda = "{{ env }}"
