compute_correlations {
  niters = {{ compute_correlations['niters'] }}
}

resampling {
  nboots = {{ resampling['nboots'] }}
}

params {
  output_dir = "{{ output_dir }}"
  otudata = "{{ input['otu_table'] }}"
  lineagedata = "{{ input['lineage_table'] }}"
  sample_metadata = "{{ input['sample_metadata'] }}"
  childrendata = "{{ input['children_object'] }}"

  niters = compute_correlations.niters
  nboots = resampling.nboots
}

env {
  PATH = "$PATH:" + '/home/dileep/Documents/boston_university/microbial-interaction-database/mind/bin/sparcc/'
}

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}