resample {
    bootstraps = {{ resample['bootstraps'] }}
    ncpus = {{ resample['ncpus'] }}
    filter_flag = "{{ resample['filter_flag'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"

    bootstraps = resample.bootstraps
    ncpus = resample.ncpus
    filter_flag = resample.filter_flag
}

process.conda = "{{ env }}"

process {
    withName: resample {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
