calculate_pvalues {
    ncpus = {{ calculate_pvalues['ncpus'] }}
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"
    interaction_table = "{{ input['interaction_table'] }}"
    interaction_bootstrap = "{{ input['interaction_bootstrap'] }}"

    ncpus = calculate_pvalues.ncpus
}

process.conda = "{{ env }}"

process {
    withName: calculate_pvalues {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
