demultiplexing_fasta {
    qual_score_window = "{{ demultiplexing_fasta['qual_score_window'] }}"
}

params {

    output_dir = "{{ output_dir }}"
    sequence_reads = "{{ input['sequence_16s'] }}"
    quality_files = "{{ input['quality'] }}"
    mapping_files = "{{ input['mapping'] }}"

    qual_score_window = demultiplexing_fasta.qual_score_window
}
