sparcc {
  iterations = {{ sparcc['iterations'] }}
  ncpus = {{ sparcc['ncpus'] }}
}

params {
  output_dir = "{{ output_dir }}"
  otudata = "{{ input['otu_table'] }}"
  otu_bootstrap = "{{ input['otu_bootstrap'] }}"

  iterations = sparcc.iterations
  ncpus = sparcc.ncpus
}

process.conda = "{{ env }}"

process {
    withName: sparcc {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
