blast {
    blast_db = "{{ blast['blast_db'] }}"
    evalue_cutoff = {{ blast['evalue_cutoff'] }}
    ncpus = {{ blast['ncpus'] }}
}

parser {
    tax_map = "{{ parser['tax_map'] }}"
    n_hits = {{ parser['n_hits'] }}
    ncpus = {{ parser['ncpus'] }}
}

params {
    output_dir = "{{ output_dir}}"
    otu_table = "{{ input['otu_table'] }}"
    sequence_16s_representative = "{{ input['sequence_16s_representative'] }}"

    blast_ncpus = blast.ncpus
    parser_ncpus = parser.ncpus
    evalue_cutoff = blast.evalue_cutoff
    n_hits = parser.n_hits
    blast_db = blast.blast_db
    tax_map = parser.tax_map
}

process.conda = "{{ env }}"
