pick_open_reference_otus {
    picking_method = "{{ pick_open_reference_otus['picking_method'] }}" // "sortmerna_sumaclust"
    ncpus = {{ pick_open_reference_otus['ncpus'] }} // 1
    parameters = "{{ pick_open_reference_otus['parameters'] }}" // "qiime1_parameters.txt"
    reference_sequences = "{{ pick_open_reference_otus['reference_sequences'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"

    picking_method = pick_open_reference_otus.picking_method
    ncpus = pick_open_reference_otus.ncpus
    parameters = pick_open_reference_otus.parameters
    reference_sequences = pick_open_reference_otus.reference_sequences
}

process.conda = "{{ env }}"

process {
    withName: pick_open_reference_otus {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
