pick_open_reference_otus {
    picking_method = "{{ pick_open_reference_otus['picking_method'] }}" // "sortmerna_sumaclust"
    ncpus = "{{ pick_open_reference_otus['ncpus'] }}" // 1
    parameters = "{{ pick_open_reference_otus['parameters'] }}" // "qiime1_parameters.txt"
}

params {
    output_dir = "{{ output_dir }}"
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"
    sequence_16s_reference = "{{ input['sequence_16s_reference'] }}"

    picking_method = pick_open_reference_otus.picking_method
    ncpus = pick_open_reference_otus.ncpus
    parameters = pick_open_reference_otus.parameters
}

process.conda = "{{ env }}"
