normalize_otu_table {
    axis = "{{ normalize_otu_table['axis'] }}"
    count_thres = "{{ normalize_otu_table['count_thres'] }}"
    prevalence_thres = "{{ normalize_otu_table['prevalence_thres'] }}"
    abundance_thres = "{{ normalize_otu_table['abundance_thres'] }}"
    rm_sparse_obs = "{{ normalize_otu_table['rm_sparse_obs'] }}"
    rm_sparse_samples = "{{ normalize_otu_table['rm_sparse_samples'] }}"
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"
    axis = normalize_otu_table.axis
    count_thres = normalize_otu_table.count_thres
    prevalence_thres = normalize_otu_table.prevalence_thres
    abundance_thres = normalize_otu_table.abundance_thres
    rm_sparse_obs = normalize_otu_table.rm_sparse_obs
    rm_sparse_samples = normalize_otu_table.rm_sparse_samples
}
