pick_de_novo_otus {
    ncpus = {{ pick_de_novo_otus['ncpus'] }} // 4
    parameters = "{{ pick_de_novo_otus['parameters'] }}" // "qiime1_parameters.txt"
}

params {
    output_dir = "{{ output_dir }}"
    sequence_16s = "{{ input['sequence_16s'] }}"
    sample_sequence_manifest = "{{ input['sample_sequence_manifest'] }}"

    ncpus = pick_de_novo_otus.ncpus
    parameters = pick_de_novo_otus.parameters
}

process.conda = "{{ env }}"

process {
    withName: pick_de_novo_otus {
        clusterOptions = "-P {{ project }} -pe omp ${params.ncpus} -l h_rt=5:00:00"
    }
}
