mldm {
    Z_mean = "{{ mldm['Z_mean'] }}"
    max_iteration = {{ mldm['max_iteration'] }}
}

params {
    output_dir = "{{ output_dir }}"
    otudata = "{{ input['otu_table'] }}"
    sample_metadata = "{{ input['sample_metadata'] }}"

    Z_mean = mldm.Z_mean
    max_iteration = mldm.max_iteration
}

process.conda = "{{ env }}"
